@charset "UTF-8";
/*Цвета*/
/*Ширина*/
/*ретина*/
@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #111111;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.page {
  width: 320px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .page {
    width: 768px; } }

@media (min-width: 1300px) {
  .page {
    width: 1300px; } }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.container {
  width: 320px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  .container {
    width: 768px; } }

@media (min-width: 1300px) {
  .container {
    width: 1300px; } }

.green-line {
  position: relative; }
  .green-line::before {
    content: "";
    position: absolute;
    top: 68%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #68b738;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    z-index: 1; }
  .green-line--contacts::before {
    content: "";
    position: absolute;
    top: 38%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #68b738;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    z-index: 1; }

@media (min-width: 768px) {
  .green-line--contacts::before {
    top: 68%; } }

.btn {
  display: block;
  width: 280px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738; }
  .btn:hover {
    background-color: #5eaa2f; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3); }
  .btn--gray {
    color: #444444;
    background-color: #f2f2f2; }
    .btn--gray:hover {
      background-color: #ebebeb; }
    .btn--gray:active {
      color: rgba(68, 68, 68, 0.3); }

@media (min-width: 768px) {
  .btn {
    width: 245px; } }

@media (min-width: 1300px) {
  .btn {
    width: 169px; } }

.caption {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px; }

@media (min-width: 768px) {
  .caption {
    font-size: 60px;
    line-height: 60px; } }

.caption-left {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #111111; }
  .caption-left span {
    position: relative;
    display: inline-block;
    padding-right: 24px;
    background-color: #ffffff;
    z-index: 2; }
    .caption-left span::before {
      content: "";
      position: absolute;
      top: 0;
      left: -24px;
      width: 24px;
      height: 100%;
      background-color: #ffffff; }

@media (min-width: 768px) {
  .caption-left {
    font-size: 36px;
    line-height: 36px; }
    .caption-left span {
      position: relative;
      display: inline-block;
      padding-left: 38px;
      padding-right: 38px;
      background-color: #ffffff;
      z-index: 2; }
      .caption-left span::before {
        display: none; } }

@media (min-width: 1300px) {
  .caption-left {
    font-size: 36px;
    line-height: 36px; }
    .caption-left span {
      position: relative;
      display: inline-block;
      padding-left: 0;
      padding-right: 38px;
      background-color: #ffffff;
      z-index: 2; }
      .caption-left span::before {
        display: block;
        left: -38px;
        width: 38px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 260px; }

.header__wrapper {
  padding: 0 20px;
  position: relative; }

.header__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 16px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.header__image:hover {
  opacity: 0.8; }

.header__image:active {
  opacity: 0.6; }

@media (min-width: 768px) {
  .header {
    height: auto;
    padding-top: 20px;
    padding-bottom: 1px;
    border-bottom: none; }
    .header::after {
      background-image: none; }
  .header__logo {
    padding-top: 3px;
    padding-bottom: 5px; }
    .header__logo img {
      width: 174px;
      height: 59px; }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 30px; } }

@media (min-width: 1300px) {
  .header {
    position: relative;
    padding-top: 50px; }
  .header__logo {
    padding-top: 5px;
    padding-bottom: 4px; }
    .header__logo img {
      width: 203px;
      height: 60px; }
  .header__wrapper {
    padding: 0 40px; } }

.nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  margin: 0;
  padding: 30px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer; }
  .nav__toggle::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 33%;
    width: 19px;
    height: 19px;
    background-image: url("../img/icon-close.svg"); }

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.nav__item {
  padding-top: 22px;
  padding-bottom: 23px;
  text-align: center;
  border-top: 1px solid #e6e6e6; }
  .nav__item a {
    padding-bottom: 7px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #111111;
    text-decoration: none;
    text-transform: uppercase; }

@media (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__wrapper {
    width: 500px; }
  .nav__toggle {
    display: none; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0; }
  .nav__item {
    width: auto;
    margin-left: 36px;
    border-top: none; }
    .nav__item a {
      font-size: 18px;
      font-weight: 400;
      line-height: 25px; }
    .nav__item .nav__active {
      border-bottom: 2px solid #68b738; }
    .nav__item:hover {
      opacity: 0.6; }
    .nav__item:active {
      opacity: 0.3; } }

@media (min-width: 1300px) {
  .nav__item {
    width: auto;
    margin-left: 33px;
    border-top: none;
    z-index: 1; }
    .nav__item a {
      font-size: 20px;
      line-height: 25px; }
    .nav__item--white a {
      color: #ffffff; }
    .nav__item--white .nav__active {
      border-bottom: 2px solid #ffffff; } }

.first-screen {
  background-image: linear-gradient(to top, #ffffff 97px, transparent 97px), url("../img/index-background-mobile@1x.jpg"), linear-gradient(to top, #ffffff 197px, #61a63c 197px);
  color: #ffffff;
  background-color: #68b738;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .first-screen {
      background-image: linear-gradient(to top, #ffffff 97px, transparent 97px), url("../img/index-background-mobile@2x.jpg"), linear-gradient(to top, #ffffff 197px, #61a63c 197px); } }
  .first-screen b {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }
  .first-screen a {
    margin-top: 2px;
    margin-bottom: 24px;
    padding-top: 13px;
    padding-bottom: 13px; }

.first-screen__wrapper {
  padding: 0 20px; }

.first-screen__caption {
  margin: 0;
  padding-top: 28px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center; }

.first-screen__img {
  margin-top: 27px; }

@media (min-width: 768px) {
  .first-screen {
    position: relative;
    margin-top: 21px;
    color: #111111;
    background-image: none;
    background-color: #ffffff; }
    .first-screen b {
      margin-left: 89px;
      padding-top: 41px;
      font-size: 20px;
      line-height: 20px;
      text-align: left; }
    .first-screen a {
      position: absolute;
      margin-top: -583px;
      margin-left: 89px;
      padding-top: 18px;
      padding-bottom: 19px;
      font-size: 20px;
      z-index: 1; }
  .first-screen__wrapper {
    padding: 0 30px; }
  .first-screen__caption {
    width: 420px;
    margin-left: 89px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left; }
  .first-screen__img {
    margin-top: 21px;
    width: 709px;
    height: 609px;
    z-index: -1; } }

@media (min-width: 1300px) {
  .first-screen {
    padding-bottom: 134px;
    z-index: 0; }
    .first-screen b {
      margin-left: 0;
      padding-top: 41px;
      font-size: 20px;
      line-height: 20px;
      text-align: left; }
    .first-screen a {
      margin-top: -186px;
      margin-left: 0;
      padding-top: 18px;
      padding-bottom: 19px;
      font-size: 20px;
      z-index: 1; }
    .first-screen::before {
      position: absolute;
      content: "";
      top: -200px;
      right: 0;
      left: 50%;
      bottom: 81px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
      z-index: -1; } }
    @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
      .first-screen::before {
        background-image: url("../img/index-background-desktop@2x.jpg"); } }

@media (min-width: 1300px) {
  .first-screen__wrapper {
    padding-left: 120px; }
  .first-screen__caption {
    margin-top: 72px;
    margin-left: 0; }
  .first-screen__btn {
    width: 245px;
    margin-left: -2px; }
  .first-screen__img {
    margin-top: -260px;
    margin-left: 370px;
    width: 552px;
    height: 499px;
    z-index: 0; } }

.preferences {
  margin: 0; }

.preferences__wrapper {
  padding: 0 20px; }

.preferences__block {
  position: relative;
  margin-bottom: 21px;
  padding: 22px 20px;
  background-color: #f2f2f2; }
  .preferences__block::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 23px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
    z-index: 0; }
  .preferences__block::after {
    content: "";
    position: absolute;
    background-position: left;
    background-repeat: no-repeat; }
  .preferences__block--slimcat::after {
    top: 21px;
    left: 31px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    z-index: 1; }
  .preferences__block--procat::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    z-index: 1; }

.preferences__caption {
  margin: 0;
  margin-top: 7px;
  padding-left: 71px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase; }

.preferences__text {
  position: relative;
  padding-top: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444; }
  .preferences__text::after {
    content: "";
    position: absolute;
    top: 127px;
    left: 0;
    width: 240px;
    height: 1px;
    background-color: lightgray;
    z-index: 1; }

.preferences__link {
  display: block;
  padding-top: 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111; }
  .preferences__link svg {
    padding-left: 7px; }
  .preferences__link:hover svg {
    width: 34px; }
  .preferences__link:active svg {
    width: 34px;
    opacity: 0.3; }

@media (min-width: 768px) {
  .preferences__wrapper {
    padding: 0 30px; }
  .preferences__block {
    margin-bottom: 31px;
    padding-top: 74px;
    padding-right: 62px;
    padding-bottom: 62px;
    padding-left: 52px; }
    .preferences__block::before {
      top: 91px;
      left: 447px;
      width: 200px;
      height: 200px; }
    .preferences__block--slimcat::after {
      top: 79px;
      left: 475px;
      width: 141px;
      height: 194px; }
    .preferences__block--slimcat .preferences__text {
      width: 372px; }
    .preferences__block--procat::after {
      top: 134px;
      left: 412px;
      width: 268px;
      height: 113px; }
    .preferences__block--procat .preferences__text {
      width: 340px; }
  .preferences__caption {
    margin: 0;
    padding-left: 0;
    font-size: 36px;
    line-height: 37px; }
  .preferences__text {
    padding-top: 9px;
    font-size: 16px;
    line-height: 24px; }
    .preferences__text::after {
      top: 0;
      width: 0;
      height: 0;
      background-color: none;
      z-index: 0; }
  .preferences__link {
    padding-top: 40px;
    font-size: 20px;
    line-height: 20px; }
    .preferences__link svg {
      width: 24px;
      height: 16px;
      padding-left: 20px; } }

@media (min-width: 1300px) {
  .preferences__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 40px; }
  .preferences__block {
    width: 455px;
    padding-left: 53px; }
    .preferences__block:nth-child(even) {
      margin-right: 80px; }
    .preferences__block::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px; }
    .preferences__block--slimcat::after {
      top: 41px;
      left: 67px;
      width: 71px;
      height: 97px; }
    .preferences__block--slimcat .preferences__text {
      width: 462px; }
    .preferences__block--procat::after {
      top: 68px;
      left: 35px;
      width: 134px;
      height: 57px; }
    .preferences__block--procat .preferences__text {
      width: 445px; }
  .preferences__caption {
    padding-left: 162px; }
  .preferences__text {
    padding-top: 60px; }
  .preferences__link {
    padding-top: 15px; }
    .preferences__link svg {
      width: 24px;
      height: 18px;
      padding-left: 20px; } }

.actions {
  margin: 0; }

.actions__wrapper {
  padding: 0 20px; }

.actions__caption {
  margin: 0;
  margin-top: -3px;
  margin-bottom: 26px; }

.actions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }

.actions__img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: #68b738; }
  .actions__img--leaf {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px; }
  .actions__img--form {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px; }
  .actions__img--food {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px; }
  .actions__img--time {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px; }

.actions__text {
  position: relative;
  width: 200px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444; }

@media (min-width: 768px) {
  .actions {
    padding-bottom: 43px;
    border-bottom: 1px solid lightgray; }
  .actions__wrapper {
    padding: 0 30px; }
  .actions__caption {
    margin-top: 45px; }
  .actions__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -27px; }
  .actions__item {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 244px;
    margin-top: 47px;
    margin-bottom: 85px;
    counter-increment: section; }
    .actions__item:nth-child(odd) {
      margin-right: 140px; }
    .actions__item::after {
      content: counter(section);
      position: absolute;
      top: 94px;
      right: 0;
      font-size: 280px;
      color: #f2f2f2;
      z-index: -1; }
    .actions__item:first-child::after {
      right: 15px; }
  .actions__img {
    width: 80px;
    height: 80px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .actions__img--leaf {
      background-image: url("../img/advantage-leaf@2x.png"); }
    .actions__img--form {
      background-image: url("../img/advantage-powder@2x.png"); }
    .actions__img--food {
      background-image: url("../img/advantage-dining@2x.png"); }
    .actions__img--time {
      background-image: url("../img/advantage-clock@2x.png"); } }

@media (min-width: 768px) {
  .actions__text {
    width: 250px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px; } }

@media (min-width: 1300px) {
  .actions {
    padding-bottom: 0;
    border-bottom: none; }
  .actions__wrapper {
    padding: 0 40px; }
  .actions__caption {
    margin-top: 41px; }
  .actions__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .actions__item {
    width: auto; }
    .actions__item:nth-child(odd) {
      margin-right: 0; }
  .actions__text {
    width: 245px; } }

.promo {
  position: relative;
  margin-top: 43px; }

.promo__wrapper {
  padding: 0 20px; }

.promo__caption {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  margin-left: 20px; }

.promo__text {
  margin: 0;
  margin-top: 24px;
  padding-right: 14px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  text-align: left; }

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px; }

.promo__border {
  position: relative;
  width: 122px;
  border: 1px solid #cdcdcd;
  border-radius: 3px; }

.promo__legend {
  position: absolute;
  top: 35px;
  left: 50%;
  width: 57px;
  padding: 0 10px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;
  background-color: #ffffff;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.promo__value {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #111111;
  text-align: center; }

.promo__price {
  margin-top: 38px;
  text-transform: uppercase;
  text-align: center; }

.promo__screen {
  padding-bottom: 35px; }

.promo__cat {
  max-width: inherit;
  margin-top: 23px;
  margin-left: -22px; }

.promo__range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px; }

.promo__toggle {
  position: relative;
  width: 81px;
  height: 12px;
  border: 1px solid lightgray;
  border-radius: 7px;
  background-color: #ffffff; }
  .promo__toggle::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    top: 3px;
    left: 5px;
    border-radius: 5px;
    background-color: #68b738; }

.promo__btn {
  display: inline-block;
  margin: 0 13px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  vertical-align: middle; }

@media (min-width: 768px) {
  .promo {
    margin-top: 0; }
    .promo::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 463px;
      background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #eaeaea));
      background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%); }
  .promo__right {
    margin-top: 242px;
    padding-top: 350px;
    padding-bottom: 40px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #eaeaea));
    background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%); }
  .promo__wrapper {
    padding: 0 30px; }
  .promo__caption {
    margin-left: 30px;
    padding-top: 44px; }
  .promo__text {
    margin-top: 64px;
    font-size: 16px;
    line-height: 24px; }
  .promo__cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .promo__container {
    margin-top: 53px; }
  .promo__border {
    height: 70px;
    margin-right: 42px;
    width: 160px; }
  .promo__legend {
    width: 127px;
    margin: 0;
    top: 63px;
    left: 50%;
    padding: 0 3px;
    font-size: 14px;
    line-height: 14px; }
  .promo__value {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 37px; }
  .promo__price {
    margin-top: 60px;
    width: 174px;
    font-size: 20px;
    line-height: 29px;
    text-align: right; }
  .promo__cat {
    position: absolute;
    bottom: 118px;
    left: 52.5%;
    width: 680px;
    height: 517px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .promo__range {
    margin-top: 17px; }
  .promo__scale {
    position: relative;
    width: 428px;
    height: 6px;
    border: none;
    border-radius: 2.5px;
    background-color: #dcdcdc;
    cursor: pointer; }
  .promo__toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    -webkit-transform: translate(-46%, -50%);
            transform: translate(-46%, -50%); }
    .promo__toggle:hover {
      -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
              box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25); }
    .promo__toggle:active {
      -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px #68b738; }
    .promo__toggle::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      left: 50%;
      border-radius: 5px;
      background-color: #68b738;
      -webkit-transform: translate(-46%, -50%);
              transform: translate(-46%, -50%); }
    .promo__toggle:hover::after {
      -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
              box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25); }
    .promo__toggle:active::after {
      border: 2px solid #68b738;
      -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3); }
  .promo__btn {
    position: relative;
    font-size: 20px;
    cursor: pointer; }
    .promo__btn::after {
      content: "";
      position: absolute;
      top: 25px;
      right: 8px;
      width: 45px;
      height: 1px;
      border-bottom: 1px dashed #dcdcdc; } }

@media (min-width: 1300px) {
  .promo {
    padding-bottom: 0; }
    .promo::before {
      display: none; }
  .promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1300px;
    padding-left: 40px; }
  .promo__left {
    width: 435; }
  .promo__right {
    position: relative;
    margin-top: 410px;
    padding-top: 0;
    padding-bottom: 0;
    background-image: none; }
  .promo__content {
    position: relative;
    padding-bottom: 39px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(71.8%, #f2f2f2), color-stop(28.2%, #eaeaea));
    background-image: linear-gradient(to right, #f2f2f2 71.8%, #eaeaea 28.2%); }
    .promo__content::before {
      content: "";
      position: absolute;
      top: 0;
      right: 50%;
      width: 500px;
      height: 100%;
      background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #eaeaea));
      background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
      -webkit-transform: translate(113.6%, 0);
              transform: translate(113.6%, 0); }
  .promo__caption {
    width: 100%;
    margin-top: 68px;
    margin-left: 40px;
    margin-bottom: 75px;
    padding-top: 0; }
  .promo__text {
    width: 431px;
    padding-top: 6px; }
  .promo__cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .promo__container {
    margin-top: 68px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .promo__legend {
    background-color: #f2f2f2; }
  .promo__price {
    margin-top: 58px;
    width: 330px;
    text-align: left; }
    .promo__price span {
      margin-right: 60px; }
  .promo__cat {
    position: absolute;
    bottom: 98px;
    left: 51%;
    width: 680px;
    height: 517px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .promo__range {
    margin-top: -45px; } }

.contacts {
  position: relative;
  padding-top: 12px;
  padding-bottom: 10px; }
  .contacts--grey {
    background-color: #f2f2f2; }
  .contacts--padding {
    padding-top: 13px; }

.contacts__wrapper {
  padding: 0 20px; }

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contacts__text {
  width: 130px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111; }
  .contacts__text span {
    display: block; }

.contacts__address {
  width: 139px;
  padding-top: 2px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444444; }

@media (min-width: 768px) {
  .contacts {
    padding-top: 45px;
    padding-bottom: 40px; }
    .contacts--grey {
      padding-top: 46px; }
  .contacts__wrapper {
    padding-left: 70px;
    padding-right: 73px; }
  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contacts__text {
    width: 155px;
    font-size: 20px;
    line-height: 25px; }
    .contacts__text span {
      display: block; }
  .contacts__address {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right; }
    .contacts__address span {
      display: block;
      margin-top: 20px; } }

@media (min-width: 1300px) {
  .contacts {
    position: relative;
    padding: 0; }
    .contacts--grey {
      position: absolute;
      margin-top: 95px;
      left: 50%;
      width: 570px;
      padding-top: 45px;
      padding-bottom: 40px;
      background-color: #ffffff;
      -webkit-transform: translate(-107%, 0);
              transform: translate(-107%, 0); }
  .contacts__cover {
    position: absolute;
    top: 95px;
    left: 50%;
    width: 570px;
    padding-top: 45px;
    padding-bottom: 40px;
    background-color: #ffffff;
    -webkit-transform: translate(-107%, 0);
            transform: translate(-107%, 0); }
  .contacts__wrapper {
    padding-left: 76px;
    padding-right: 0; }
  .contacts__container {
    width: 410px; }
  .contacts__address {
    text-align: left; } }

.map {
  width: 100%;
  height: 372px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../img/bg-map-mobile@2x.png"); } }

.map__iframe {
  width: 100%;
  height: 372px; }

@media (min-width: 768px) {
  .map {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../img/bg-map-tablet@2x.png"); } }

@media (min-width: 768px) {
  .map__iframe {
    height: 400px; } }

@media (min-width: 1300px) {
  .map {
    height: 400px;
    background-image: url("../img/bg-map-desctop@1x.png"); } }
  @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../img/bg-map-desktop@2x.png"); } }

@media (min-width: 1300px) {
  .map__iframe {
    height: 400px; } }

.catalog {
  margin: 0;
  border-top: 1px solid #e6e6e6; }
  .catalog--show-more {
    position: relative;
    padding-top: 80px; }

.catalog__wrapper {
  padding: 0 20px; }

.catalog__container {
  margin: 0 -20px;
  border: 1px solid #ededed; }

.catalog__title {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 28px;
  text-align: left; }

.catalog__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed; }
  .catalog__item--show-more .catalog__caption {
    width: auto;
    margin-top: 80px;
    text-align: center; }
  .catalog__item--show-more .catalog__info {
    position: relative;
    width: auto;
    margin-top: 0;
    margin-left: 19px; }
    .catalog__item--show-more .catalog__info .catalog__btn {
      margin-top: 3px; }
    .catalog__item--show-more .catalog__info::before {
      position: absolute;
      content: "";
      top: 25px;
      left: 125px;
      width: 31px;
      height: 31px;
      background-image: url("../img/icon-plus-mobile.svg");
      opacity: 0.2; }

.catalog__img {
  margin-left: 19px; }

.catalog__info {
  width: 140px;
  margin-top: 6px; }

.catalog__caption {
  width: 75px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.catalog__table {
  width: 142px;
  margin-top: -4px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #444444;
  border-collapse: collapse; }

.catalog__field {
  text-align: left; }

.catalog__value {
  text-align: right; }

.catalog__btn {
  margin-top: -1px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }

.catalog__text {
  margin-top: -10px;
  margin-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  text-align: center; }

@media (min-width: 768px) {
  .catalog {
    border-top: none; }
  .catalog__wrapper {
    padding: 0 30px; }
  .catalog__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    border: none; }
  .catalog__title {
    margin-top: 48px;
    margin-bottom: 25px; }
  .catalog__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 324px;
    min-height: 380px;
    margin-top: 141px;
    padding-top: 25px;
    background-color: #f2f2f2; }
    .catalog__item--show-more {
      background-color: #ffffff;
      outline: 1px solid #f2f2f2; }
      .catalog__item--show-more .catalog__caption {
        width: 134px;
        margin-top: 78px;
        text-align: center; }
      .catalog__item--show-more .catalog__info {
        width: auto;
        margin-top: 60px;
        margin-left: 0; }
        .catalog__item--show-more .catalog__info::before {
          top: -32px;
          left: 133px;
          width: 61px;
          height: 61px;
          background-image: url("../img/icon-plus.svg"); }
  .catalog__img {
    position: absolute;
    margin-left: 0;
    bottom: 303px;
    left: 0;
    text-align: center; }
    .catalog__img img {
      width: 100%;
      height: auto; }
  .catalog__info {
    width: auto;
    margin-top: 138px; }
  .catalog__caption {
    width: 134px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 20px;
    text-align: center; }
  .catalog__table {
    width: 251px;
    margin: 0 auto;
    margin-top: 18px;
    font-size: 16px;
    line-height: 16px; }
    .catalog__table tr {
      height: 32px;
      border-bottom: 1px solid lightgray; }
  .catalog__text {
    width: 167px;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 85px;
    font-size: 16px;
    line-height: 18px; }
  .catalog__btn {
    margin-top: 32px; } }

@media (min-width: 1300px) {
  .catalog__wrapper {
    padding: 0 40px; }
  .catalog__title {
    margin-top: 66px;
    margin-bottom: 23px; }
  .catalog__item {
    width: 245px;
    margin-top: 143px; }
    .catalog__item--show-more .catalog__info::before {
      left: 93px; }
  .catalog__img {
    bottom: 301px;
    left: 0; }
  .catalog__info {
    margin-top: 138px; }
  .catalog__table {
    width: 171px; }
  .catalog__btn {
    margin-top: 32px; } }

.additional {
  margin: 0; }

.additional__wrapper {
  padding: 0 20px; }

.additional__caption {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 48px; }

.additional__item {
  padding-bottom: 18px;
  border-bottom: 1px solid #ededed; }

.additional__name {
  margin: 0;
  margin-top: 13px;
  padding-left: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase; }

.additional__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.additional__field {
  display: block;
  margin-top: 13px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #444444; }

.additional__value {
  display: block;
  margin-top: 13px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #444444; }

.additional__btn {
  margin-top: 14px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }

.additional__present {
  position: relative;
  margin-top: 38px;
  margin-bottom: 30px;
  padding: 0 20px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .additional__present {
      background-image: url("../img/gift-photo-mobile@2x.jpg"); } }

.additional__img {
  position: absolute;
  top: 65px;
  left: 113px; }
  .additional__img path {
    fill: #ffffff; }

.additional__text {
  width: 161px;
  padding-top: 187px;
  padding-bottom: 47px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-align: center; }

@media (min-width: 768px) {
  .additional {
    margin: 0; }
  .additional__wrapper {
    padding: 0 30px; }
  .additional__caption {
    width: auto;
    margin-top: 67px;
    margin-bottom: 80px;
    border-bottom: none; }
  .additional__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 35px;
    border: 1px solid #ededed;
    border-bottom: none; }
    .additional__item:last-child {
      border-bottom: 1px solid #ededed; }
  .additional__name {
    width: 300px;
    margin: 0;
    font-size: 20px;
    line-height: 20px; }
  .additional__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5px; }
  .additional__field {
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: right; }
  .additional__value {
    width: 96px;
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: right; }
  .additional__btn {
    width: 633px;
    margin-top: 22px;
    margin-bottom: 1px; }
  .additional__present {
    margin-top: 70px;
    margin-bottom: 76px;
    padding: 0 0;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .additional__present {
      background-image: url("../img/gift-photo-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .additional__img {
    top: 64px;
    left: 91px; }
  .additional__text {
    width: 161px;
    padding-top: 72px;
    padding-bottom: 67px;
    padding-left: 423px;
    margin: 0;
    text-align: left; } }

@media (min-width: 1300px) {
  .additional {
    margin: 0;
    padding-bottom: 81px; }
  .additional__wrapper {
    padding: 0 40px; }
  .additional__caption {
    margin-top: 76px; }
  .additional__cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .additional__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 895px;
    padding: 15px 0;
    border: none;
    border-top: 1px solid #cdcdcd; }
    .additional__item:last-child {
      border-bottom: 1px solid #cdcdcd; }
  .additional__name {
    width: 324px;
    margin-top: 0; }
  .additional__list {
    padding-top: 7px; }
  .additional__field {
    width: 135px;
    margin-top: 0;
    margin-right: 109px;
    text-align: left; }
  .additional__value {
    width: 45px;
    margin-top: 0;
    margin-right: 33px;
    text-align: left; }
  .additional__btn {
    width: 245px;
    margin-top: 0;
    margin-bottom: 1px;
    padding-top: 11px;
    padding-bottom: 9px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; }
  .additional__present {
    width: 245px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-position: top center;
    background-repeat: no-repeat; } }
  @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
    .additional__present {
      background-image: url("../img/gift-photo-desktop@2x.jpg"); } }

@media (min-width: 1300px) {
  .additional__img {
    left: 95px; }
  .additional__text {
    width: 161px;
    padding-top: 187px;
    padding-bottom: 47px;
    padding-left: 0;
    margin: 0 auto;
    text-align: center; } }

.program {
  border-top: 1px solid #e6e6e6; }

.program__caption {
  margin: 0;
  margin-top: 16px; }

.program__wrapper {
  padding: 0 20px; }

.program__text {
  width: 226px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .program {
    border-top: none; }
  .program__caption {
    margin-top: 48px; }
  .program__wrapper {
    padding: 0 30px; }
  .program__text {
    width: 350px;
    margin-top: 56px;
    margin-bottom: 43px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px; } }

@media (min-width: 1300px) {
  .program {
    padding-bottom: 11px; }
  .program__caption {
    margin-top: 67px; }
  .program__wrapper {
    padding: 0 40px; }
  .program__text {
    margin-top: 55px;
    margin-left: 0; } }

.search {
  margin: 0; }

.search__wrapper {
  padding: 0 20px; }

.search__block {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #222222;
  border: none; }
  .search__block--info .search__name {
    margin-right: 15px; }
  .search__block--type-of-program {
    position: relative;
    margin-top: 17px;
    z-index: 1; }
    .search__block--type-of-program::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -20px;
      width: 318px;
      height: 155px;
      border: 1px solid #ededed;
      z-index: 0; }
    .search__block--type-of-program .search__item {
      margin-bottom: 25px; }
    .search__block--type-of-program .search__radio + .search__label::before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      width: 29px;
      height: 29px;
      background-color: #ffffff;
      border-radius: 50%;
      border: 1px solid #cdcdcd;
      cursor: pointer; }
    .search__block--type-of-program .search__radio:checked + .search__label::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 10px;
      width: 11px;
      height: 11px;
      background-color: #68b738;
      border-radius: 50%;
      cursor: pointer; }
    .search__block--type-of-program .search__radio:hover + .search__label::before {
      outline: 2px solid lightblue; }
    .search__block--type-of-program .search__radio:focus + .search__label::before {
      outline: 2px solid lightblue; }
    .search__block--type-of-program .search__label {
      padding-left: 45px; }
  .search__block--contacts {
    margin-top: 5px; }
    .search__block--contacts .search__legend {
      margin-bottom: 34px; }
      .search__block--contacts .search__legend span {
        width: 181px; }
    .search__block--contacts .search__name {
      width: auto;
      margin-right: 10px; }
    .search__block--contacts .search__input {
      position: relative; }
    .search__block--contacts .search__icon {
      display: inline-block;
      position: absolute; }
      .search__block--contacts .search__icon--email {
        top: 14px;
        right: 15px; }
      .search__block--contacts .search__icon--phone {
        top: 12px;
        right: 14px; }
      .search__block--contacts .search__icon:active path {
        fill: #68b738; }
      .search__block--contacts .search__icon:invalid path {
        fill: #ff8282; }
  .search__block--comment {
    margin-top: 12px; }
  .search__block--addition {
    margin-top: 5px; }
    .search__block--addition .search__legend {
      margin-bottom: 40px; }
    .search__block--addition .search__item {
      margin-top: 24px; }
    .search__block--addition .search__checkbox + .search__label::before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      width: 29px;
      height: 29px;
      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      cursor: pointer; }
      .search__block--addition .search__checkbox + .search__label::before:hover {
        background-color: #bababa; }
    .search__block--addition .search__checkbox:checked + .search__label::after {
      content: "";
      position: absolute;
      top: 1px;
      left: 5px;
      width: 22px;
      height: 17px;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      cursor: pointer; }
    .search__block--addition .search__checkbox:hover + .search__label::before {
      outline: 2px solid lightblue; }
    .search__block--addition .search__checkbox:focus + .search__label::before {
      outline: 2px solid lightblue; }
    .search__block--addition .search__label {
      padding-left: 46px; }

.search__textarea {
  width: 249px;
  height: 122px;
  padding: 13px;
  padding-left: 16px;
  margin-top: 33px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  letter-spacing: -0.1px;
  border: 1px solid #cdcdcd; }

.search__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase; }
  .search__item:active {
    opacity: 0.3; }

.search__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
  margin: 0;
  padding: 12px 14px 12px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: uppercase;
  color: #222222;
  border: 1px solid #ededed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .search__input:hover {
    border: 1px solid #cdcdcd; }
  .search__input:focus {
    border: 1px solid #444444;
    outline: 1px solid #444444; }

.search__legend {
  margin-bottom: 18px;
  margin-left: -2px; }

.search__btn {
  margin-top: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: none; }

.search__comment {
  margin-top: 20px;
  margin-bottom: 31px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  text-align: center; }

@media (min-width: 768px) {
  .search__wrap {
    margin: 0 40px; }
  .search__wrapper {
    padding: 0 30px; }
  .search__block {
    font-size: 20px;
    line-height: 20px; }
    .search__block--info .search__name {
      margin-right: 19px; }
    .search__block--type-of-program {
      margin-top: 67px; }
      .search__block--type-of-program::before {
        top: -15px;
        left: 0;
        width: 628px;
        height: 194px; }
      .search__block--type-of-program .search__item {
        margin-bottom: 33px; }
      .search__block--type-of-program .search__radio + .search__label::before {
        top: -10px;
        left: 28px;
        width: 38px;
        height: 38px; }
      .search__block--type-of-program .search__radio:checked + .search__label::after {
        top: 1px;
        left: 39px;
        width: 18px;
        height: 18px; }
      .search__block--type-of-program .search__label {
        padding-left: 88px; }
    .search__block--contacts {
      margin-top: 41px; }
      .search__block--contacts .search__legend {
        margin-bottom: 75px; }
        .search__block--contacts .search__legend span {
          width: auto; }
      .search__block--contacts .search__name {
        margin-right: 18px; }
      .search__block--contacts .search__input {
        position: relative; }
      .search__block--contacts .search__icon {
        position: absolute; }
        .search__block--contacts .search__icon--email {
          top: 19px;
          right: 16px; }
        .search__block--contacts .search__icon--phone {
          top: 18px;
          right: 13px; }
    .search__block--comment {
      margin-top: 44px; }
      .search__block--comment .search__legend {
        width: auto; }
    .search__block--addition {
      margin-top: 30px; }
      .search__block--addition .search__item {
        width: 284px;
        margin-top: 29px; }
      .search__block--addition .search__checkbox + .search__label::before {
        top: -10px;
        width: 38px;
        height: 38px; }
      .search__block--addition .search__checkbox:checked + .search__label::after {
        left: 9px;
        width: 21px;
        height: 16px; }
      .search__block--addition .search__label {
        padding-left: 58px; }
  .search__cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .search__textarea {
    width: 605px;
    height: 151px;
    padding: 10px;
    padding-left: 17px;
    margin-top: 75px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0; }
  .search__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase; }
  .search__input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: auto;
    margin: 0;
    padding: 10px 18px 11px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: uppercase;
    color: #222222;
    border: 1px solid #ededed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .search__legend {
    margin-bottom: 18px;
    margin-left: -2px; }
  .search__send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 19px;
    margin-bottom: 60px; }
  .search__btn {
    width: 283px;
    height: 52px;
    margin: 0;
    margin-top: 27px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 20px; }
  .search__comment {
    margin-top: 43px;
    margin-left: 62px;
    font-size: 16px;
    line-height: 16px;
    text-align: left; } }

@media (min-width: 1300px) {
  .search__wrapper {
    padding: 0 40px; }
  .search__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0; }
  .search__block--info {
    width: 570px;
    margin-right: 80px; }
  .search__block--type-of-program {
    margin-top: 36px; }
    .search__block--type-of-program::before {
      width: 568px; }
  .search__block--contacts {
    margin-top: 13px; }
    .search__block--contacts .search__legend {
      margin-bottom: 55px; }
    .search__block--contacts .search__item {
      width: 570px; }
      .search__block--contacts .search__item:nth-child(odd) {
        margin-right: 80px; }
    .search__block--contacts .search__icon--email {
      top: 20px;
      right: 20px; }
    .search__block--contacts .search__icon--phone {
      top: 17px;
      right: 18px; }
  .search__block--comment {
    margin-top: 45px; }
    .search__block--comment .search__legend {
      width: auto; }
  .search__block--addition {
    margin-top: 32px; }
    .search__block--addition .search__item {
      width: 245px;
      margin-top: 2px; }
  .search__textarea {
    width: 1220px;
    height: 153px; }
  .search__cover {
    width: 1220px;
    margin-top: 25px; }
  .search__send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 19px;
    margin-bottom: 60px; }
  .search__btn {
    width: 568px;
    height: 52px;
    margin-top: 33px;
    padding: 16px; }
  .search__comment {
    margin-top: 49px;
    margin-left: 84px; } }

.footer {
  margin-top: -1px;
  background-color: #f2f2f2;
  padding-bottom: 15px; }

.footer__wrapper {
  padding: 0 20px; }

.footer__img {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 31px; }
  .footer__img:hover {
    opacity: 0.8; }
  .footer__img:active {
    opacity: 0.6; }

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed; }

.social__item {
  width: 21px;
  padding-top: 24px;
  margin: 0 18px; }
  .social__item:hover path {
    fill: #68b738; }
  .social__item:active {
    opacity: 0.3; }

.social__link path {
  fill: #666666; }

.footer__developer {
  margin-top: 12px; }
  .footer__developer a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none; }
  .footer__developer p {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #444444; }
  .footer__developer svg {
    margin-right: -8px; }
  .footer__developer path {
    fill: #666666; }
  .footer__developer:hover path {
    fill: #68b738; }
  .footer__developer:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 30px; }
  .footer__img {
    padding-top: 33px; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 124px;
    margin-left: 15px;
    border: 0; }
  .social__item {
    width: auto;
    margin: 0 13px; }
  .social__link--vk svg {
    width: 30px;
    height: 16px; }
  .social__link--instagram svg {
    width: 23px;
    height: 23px; }
  .social__link--fb svg {
    width: 14px;
    height: 28px; }
  .footer__developer {
    margin-top: -2px; }
    .footer__developer p {
      margin-right: 16px;
      text-align: right; } }

@media (min-width: 1300px) {
  .footer__wrapper {
    padding: 32px 40px; }
  .footer__developer {
    margin-top: 7px; }
    .footer__developer p {
      margin-right: 15px;
      text-align: right; } }

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px; }

.social__link {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
