img {
  max-width: 100%;
  height: auto;
}

.page {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page {
    width: $desktop-width;
  }
}
