/*Цвета*/
$global-background: #ffffff;
$leaf: #68b738;
$white-three: #f2f2f2;
$black-two: #111111;
$greyish-brown: #444444;

/*Ширина*/
$tablet-width: 768px;
$desktop-width: 1300px;

/*ретина*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
