.first-screen {
  background-image:
    linear-gradient(to top, #ffffff 97px, transparent 97px),
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to top, #ffffff 197px, #61a63c 197px);
  color: #ffffff;
  background-color: $leaf;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(to top, #ffffff 97px, transparent 97px),
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(to top, #ffffff 197px, #61a63c 197px);
  }

  b {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  a {
    margin-top: 2px;
    margin-bottom: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.first-screen__wrapper {
  padding: 0 20px;
}

.first-screen__caption {
  margin: 0;
  padding-top: 28px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.first-screen__img {
  margin-top: 27px;
}

@media (min-width: $tablet-width) {
  .first-screen {
    position: relative;
    margin-top: 21px;
    color: $black-two;
    background-image: none;
    background-color: $global-background;

    b {
      margin-left: 89px;
      padding-top: 41px;
      font-size: 20px;
      line-height: 20px;
      text-align: left;
    }

    a {
      position: absolute;
      margin-top: -583px;
      margin-left: 89px;
      padding-top: 18px;
      padding-bottom: 19px;
      font-size: 20px;
      z-index: 1;
    }
  }

  .first-screen__wrapper {
    padding: 0 30px;
  }

  .first-screen__caption {
    width: 420px;
    margin-left: 89px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
  }

  .first-screen__img {
    margin-top: 21px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .first-screen {
    padding-bottom: 134px;
    z-index: 0;

    b {
      margin-left: 0;
      padding-top: 41px;
      font-size: 20px;
      line-height: 20px;
      text-align: left;
    }

    a {
      margin-top: -186px;
      margin-left: 0;
      padding-top: 18px;
      padding-bottom: 19px;
      font-size: 20px;
      z-index: 1;
    }

    &::before {
      position: absolute;
      content: "";
      top: -200px;
      right: 0;
      left: 50%;
      bottom: 81px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .first-screen__wrapper {
    padding-left: 120px;
  }

  .first-screen__caption {
    margin-top: 72px;
    margin-left: 0;
  }

  .first-screen__btn {
    width: 245px;
    margin-left: -2px;
  }

  .first-screen__img {
    margin-top: -260px;
    margin-left: 370px;
    width: 552px;
    height: 499px;
    z-index: 0;
  }
}
